<app-header></app-header>
<div class="breadcumb-area bg-img-4 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-wrap text-center">
                    <h2>Shop Page</h2>
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li><span>Shop</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- product-area start -->
 <div class="product-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-10">
                <div class="product-menu">
                    <ul class="nav">
                        <li>
                            <a class="active" data-toggle="tab" href="#all">All product</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#chair">Honey</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#table">Oil</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div class="tab-content">
            <div class="tab-pane active" id="all">
                <ul class="row">
                    <li class="col-xl-3 col-lg-4 col-sm-6 col-12" *ngFor="let prod of liste | paginate:{itemsPerPage:8,currentPage:page,totalItems:nbrProd}" >
                        <div class="product-wrap">
                            <div class="product-img">
                                <span>Sale</span>
                                <img [src]="prod.image" alt="" width="30">
                                <!-- <img src="assets/images/product/15.jpg" alt=""> -->
                                <div class="product-icon flex-style">
                                    <ul>
                                        <li><a  href="/prodDetail" ><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/wish"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">{{prod.name}}</a></h3>
                                <p class="pull-left">{{prod.price}} DT
                                    <del>{{prod.price}}+100 DT</del>
                                </p>
                                <ul class="pull-right d-flex">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </li>    
                    <li class="col-12 text-center">
                        <!-- <a class="loadmore-btn" href="javascript:void(0);">Load More</a> -->
                         <pagination-controls  (pageChange)="page=$event" class="my_pagination"></pagination-controls> 
                    </li>
                    
                </ul>
            </div>
            <div class="tab-pane" id="chair">
                <ul class="row"> 
                    <li class="col-xl-3 col-lg-4 col-sm-6 col-12"  *ngFor="let prod of liste2|paginate:{itemsPerPage:8,currentPage:page,totalItems:nbrProd}">
                        <div class="product-wrap">
                            <div class="product-img">
                                <span>Sale</span>
                                <img [src]="prod.image" alt="" width="30">
                                <div class="product-icon flex-style">
                                    <ul>
                                        <li><a href="/prodDetail" ><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/wish"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">{{prod.name}}</a></h3>
                                <p class="pull-left">{{prod.price}} DT
                                    <del>{{prod.price}}+100 DT</del>
                                </p>
                                <ul class="pull-right d-flex">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 text-center">
                        <!-- <a class="loadmore-btn" href="javascript:void(0);">Load More</a> -->
                         <pagination-controls  (pageChange)="page=$event" class="my_pagination"></pagination-controls> 
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="table">
                <ul class="row">
                    <li class="col-xl-3 col-lg-4 col-sm-6 col-12" *ngFor="let prod of liste3 |paginate:{itemsPerPage:8,currentPage:page,totalItems:nbrProd}">
                        <div class="product-wrap">
                            <div class="product-img">
                                <span>Sale</span>
                                <img [src]="prod.image" alt="" width="30">
                                <div class="product-icon flex-style">
                                    <ul>
                                        <li><a href="/prodDetail" ><i class="fa fa-eye"></i></a></li>
                                        <li><a href="/wish"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a href="single-product.html">{{prod.name}}</a></h3>
                                <p class="pull-left">{{prod.price}} DT
                                    <del>{{prod.price}}+100 DT</del>
                                </p>
                                <ul class="pull-right d-flex">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="col-12 text-center">
                        <!-- <a class="loadmore-btn" href="javascript:void(0);">Load More</a> -->
                         <pagination-controls  (pageChange)="page=$event" class="my_pagination"></pagination-controls> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- product-area end -->
<app-footer> </app-footer>