<!doctype html>
<html class="no-js" lang="en">

<body>
  <app-header></app-header>
    <!-- slider-area start -->
    <div class="slider-area slider-area3">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-inner slide-inner4">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-9 col-12">
                                    <div class="slider-content slider-content3">
                                        <h1>Choosing only the Natural</h1>
                                        <p>Contrary to popular belief, ToHoney  is not simply random text. It has roots in a piece of classical Latin</p>
                                        <a href="/shop" data-swiper-parallax="-300">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- slider-area end -->
    <!-- featured-area start -->
    <div class="featured-area featured-sub">
        <div class="container">
            <div class="row grid ">
                <div class="col-lg-4 items col-md-6 col-sm-6 col-12" *ngFor="let prod of liste | paginate:{itemsPerPage:3,currentPage:page,totalItems:nbrProd}">
                    <div class="featured-wrap">
                        <div class="featured-img">
                            <img [src]="prod.image" alt="" width="30">
                            <div class="featured-content">
                                <a href="/shop">{{prod.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- featured-area end -->
    <!-- start count-down-section -->
    <div class="count-down-area count-down-area-sub">
        <section class="count-down-section section-padding parallax" data-speed="7">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12 text-center">
                        <h2 class="big">Deal Of the Day <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin</span></h2>
                    </div>
                    <div class="col-12 col-lg-12 text-center">
                        <div class="count-down-clock text-center">
                            <div id="clock">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
    </div>
    <!-- end count-down-section -->
    <!-- product-area start -->
    <div class="product-area product-area-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Best Seller</h2>
                        <img src="assets/images/section-title.png" alt="">
                    </div>
                </div>
            </div>
            <ul class="row">
                <li class="col-xl-3 col-lg-4 col-sm-6 col-12"  *ngFor="let prod of liste | paginate:{itemsPerPage:4,currentPage:page,totalItems:nbrProd}">
                    <div class="product-wrap">
                        <div class="product-img">
                            <img [src]="prod.image" alt="" width="30">
                            <div class="product-icon flex-style">
                                <ul>
                                    <li><a  href="/prodDetail"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="/wish"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="/cart"><i class="fa fa-shopping-bag"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="single-product.html">{{prod.name}}</a></h3>
                            <p class="pull-left">{{prod.price}}
                                <del>$156</del>
                            </p>
                            <ul class="pull-right d-flex">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- product-area end -->
    <!-- banner-area start -->
    <div class="banner-area bg-img-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4">
                    <div class="banner-wrap">
                        <p>Woman Headband Collection</p>
                        <h2>upto<span>50%</span> Off</h2>
                        <a href="/shop">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner-area end -->
    <!-- product-area start -->
    <div class="product-area pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Our Latest Product</h2>
                        <img src="assets/images/section-title.png" alt="">
                    </div>
                </div>
            </div>
            <ul class="row">
                <li class="col-xl-3 col-lg-4 col-sm-6 col-12"  *ngFor="let prod of liste | paginate:{itemsPerPage:8,currentPage:page,totalItems:nbrProd}">
                    <div class="product-wrap">
                        <div class="product-img">
                            <span>Sale</span>
                            <img [src]="prod.image" alt="" width="30">
                            <div class="product-icon flex-style">
                                <ul>
                                    <li><a href="/prodDetail"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="/wish"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="/cart"><i class="fa fa-shopping-bag"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="single-product.html">{{prod.name}}</a></h3>
                            <p class="pull-left">{{prod.price}}
                                <del>$156</del>
                            </p>
                            <ul class="pull-right d-flex">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="col-12 text-center">
                    <a class="loadmore-btn" href="/shop">View All Items</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- product-area end -->
   
   
    <app-footer></app-footer>
</body>

</html>