<body>
<app-header></app-header>
<div class="breadcumb-area bg-img-4 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-wrap text-center">
                    <h2>Account</h2>
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li><span>Register</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .breadcumb-area end -->
<!-- checkout-area start -->
<div class="account-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <div class="account-form form-style">
                  <form  class="login"  [formGroup]=" registerForm" (ngsubmit)=" register()">
                    <p>User Name *</p>
                    <input type="text" formControlName="nom">
                    <p>Email Address *</p>
                    <input type="email" formControlName="email">
                    <p>Password *</p>
                    <input type="Password" formControlName="mdp">
                    <!-- <p>Confirm Password *</p>
                    <input type="Password"> -->
                    <button type="submit" (click)="register()" >Register</button>
                    <div class="text-center">
                        <a href="/login">Or Login</a>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
</body>